

body {
  background: rgba(117, 18, 0);
}
.tableName{
  display: inline;
}
.voteCountDiv {
  float: right;
  padding-top:10px;
}


#yt-logo {

}
.dashed {border-style: dashed;}

/* Trying to make main div with opaque background -- NOT WORKING  */
#main {
  background-image: url('../views/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}


#landing-txt {
  color:white
}




#count {
  background: #9F0;
  width: 10%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 64px;
  margin: 0;
  border: 3px solid green;
  border-radius: 5px;
}


.button, #count {
  float: left;
}

#minus {
  margin: 25px 2.5% 0 37.5%;
}

#plus {
  margin: 25px 37.5% 0 2.5%;
}

#songName {
  margin: 5px;
}

.upvoteBtn, .downvoteBtn {
  border: none;
  background: none;
}

body {
 
  /* background-image: url("../views/images/bar_1920x1280.jpg"); */
  background-color: rgba(216, 10, 10, 0.856);
}

